:root {
  --title-colour: #ffffff;
  --main-text-colour: #ccd6f6;
  --secondary-text-colour: #8892b0;
  --highlight-colour: #da7b93;
  --terminal-bg: #232323;
}

a {
  text-decoration: none;
}

html {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  /* background-color: #2f4454; */
  background-color: aqua;
}

.nav-link {
  text-decoration: none;
  color: var(--main-text-colour);
}

.nav-link:hover {
  color: var(--highlight-colour);
  cursor: pointer;
}

.paragraph-link {
  text-decoration: none;
  color: var(--highlight-colour);
}

.paragraph-link:hover {
  text-decoration: underline;
  color: var(--highlight-colour);
  cursor: pointer;
}

.page-container {
  width: 80%;
  margin: auto;
  align-items: center;
  text-align: center;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 84px;
}

.navigation {
  margin: 0;
  text-align: right;
  overflow: hidden;
}

.nav-item {
  padding: 1rem;
  display: inline-block;
}

.cta-btn {
  border-width: 0.2rem;
  border-style: solid;
  border-color: var(--highlight-colour);
  padding: 0.5rem;
  border-radius: 5px;
}

.cta-link {
  text-decoration: none;
  color: var(--main-text-colour);
}

.cta-btn:hover {
  background-color: var(--highlight-colour);
  cursor: pointer;
}

.banner {
  text-align: left;
  padding: 0rem;
  margin: 0;
}

.banner-title {
  font-weight: 900;
  color: var(--title-colour);
  margin: 0;
  font-size: 300%;
}

.banner-tagline {
  margin: 0rem auto 1rem auto;
  color: var(--main-text-colour);
  margin-bottom: 0px;
  font-size: 200%;
}

.banner-description {
  margin-top: 0px;
  width: 75%;
  color: var(--secondary-text-colour);
}

.terminal {
  margin: 1rem 0 1rem 0;
  padding: 2rem;
  color: white;
  text-align: left;
  border-radius: 10px;
  background-color: var(--terminal-bg);
  min-height: 300px;
  box-shadow: 6px 6px 13px 0px rgba(50, 50, 50, 0.93);
}

.information {
  color: var(--secondary-text-colour);
  margin-bottom: 0px;
}

.highlighted-text {
  color: var(--highlight-colour);
}

.cards {
  margin-top: 2rem;
  display: grid;
  grid-gap: 1rem;
}

.card {
  border: none;
  border-radius: 8px;
  background: linear-gradient(145deg, #2a3d4d, #32495b);
  box-shadow: 6px 6px 16px #141d24, -6px -6px 16px #4a6b86;
  color: var(--secondary-text-colour);
  padding: 1rem;
  text-align: left;
  height: max-content;
  position: relative;
  font-size: 100%;
}

.card:focus {
  outline: none;
}

.card:hover {
  background: var(--highlight-colour);
  color: #ffffff;
  cursor: pointer;
}

.demo-code-title {
  text-decoration: none;
  color: var(--secondary-text-colour);
  position: absolute;
  bottom: 0rem;
  right: 3rem;
}

.demo-code {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.project-title {
  font-size: 130%;
  margin-bottom: 0.5rem;
}
.project-description {
  margin-bottom: 2.5rem;
}

.section-title {
  color: var(--main-text-colour);
  font-size: 200%;
  margin-top: 3rem;
  margin-bottom: 0rem;
}

.get-in-touch {
  padding: 0rem;
  display: grid;
  justify-content: center;
}

.footer {
  color: var(--secondary-text-colour);
}

.icons {
  padding-bottom: 2rem;
}

.icon {
  padding: 0rem 0.5rem 0rem 0.5rem;
}
